{% extends 'PaginaAutos/index.html'%}

{% block contenido %}
<head>
    <style>
        #Power-Contenedor{
        text-align: center;
        }

        #Anyadir-Rutina-btn {
        background-color: #21211d;
        color: #FFF;
        padding: 10px;
        border-radius: 20px;
        text-decoration: none;
        cursor: pointer;
        }
    
        
    </style>
</head>
<section class="menu section-padding">
    <div id="Power-Contenedor">
    <center><h1 class="text-black mb-lg-5 mb-3">Autos</h1></center>

    <a href="{% url 'autos-crear' %}" class="custom-btn btn btn-danger" id="Power-Contenedor">
        Crear Auto
    </a>
    <a href="{% url 'autos-list' %}" class="custom-btn btn btn-danger" id="Power-Contenedor">
        Buscar Auto
    </a>
    </div>
</section>


{% endblock %}