{% extends 'PaginaAutos/index.html'%}

{% block contenido %}
<head>
    <style>
        input.text, select.text, textarea.text {
        background: white;
        border: 1px solid #393939;
        border-radius: 5px 5px 5px 5px;
        font-size: 12px;
        padding: 5px;
        }
        .custom-btn2 {
        border: 0;
        color: var(--white-color);
        font-size: var(--menu-font-size);
        padding: 3px 10px;
        }
        #header h5 { display:inline; }
    </style>
</head>

<div class="menu rounded bg-white text-secondary shadow align-items-center" style="position:relative; width: 49%;">
    <div style="position:relative; bottom:10px; right:0px;">
        {% load static %}
        <h3 style="margin-left: 40px;">Buscar Auto</h3>
        <form action="{% url 'resultado-buscar-auto'%}" method="get" class="form btn-custom btn btn-danger" style="margin-left: 40px;">
            <label>
                <span class="helptext">Nombre</span>
            </label>
            <input type="text" required name="nombre" class="text">  
        </form>
    </div>
</div>
<div class="rounded bg-white text-secondary shadow align-items-center" style="position:relative; bottom:115px; left: 50%; width: 49%;top: 50%;"style="position:relative; bottom:115px; left: 50%; width: 49%;top: 50%;">
    <div >
    <center><h3 style="margin-left: 20px;">Lista de Autos</h3></center>

    <ul>
        {% for auto in object_list %}
            <li id="header">
                <span><h5>{{auto.nombre}}</h5></span>
                <a href="{% url 'autos-detalle' auto.id%}" class="custom-btn2 btn-primary">Detalle</a>
                <a href="{% url 'autos-borrar' auto.id%}" class="custom-btn2 btn-danger">Borrar</a>
                <a href="{% url 'autos-update' auto.id%}" class="custom-btn2 btn-success">Actualizar</a>
            </li>
            <br>
        {% endfor %}
    </ul>
    </div>
{% endblock %}