{% extends 'PaginaAutos/index.html'%}

{% block contenido %}
{% load static %}
<section class="menu section-padding">
    <center><h2 class="text-black mb-lg-5 mb-3">Chat Global</h2></center>
    <div id="wrapper">
      <div id="menu">
        <p class="welcome">Welcome, <b></b></p>
        <p class="logout"><a href="{% url 'autos-inicio' %}">Exit Chat</a></p>
    </div>
     
    <form name="message" action="">
        <input name="usermsg" type="text" id="usermsg" size="63" />
        <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />
    </form>
    </div>
</section>


{% endblock %}