{% extends 'PaginaAutos/index.html'%}

{% block contenido %}

{% load static %}

<section>
    <div class="d-flex justify-content-center align-items-center " style="border-radius: 5px;">
        <div class="pe-5 ps-5 bg-white rounded text-secondary shadow" style="width: 30rem">
            <center><h2 class="text-black mb-lg-5 mb-3">Contacto</h2></center>
            <center>Juan Cruz Gonzalez </center>
            <center>juancgonzalez0901@gmail.com</center>
            <p>
            <center>Felipe Da Rosa </center>
            <center>felidrf@gmail.com</center>
            </p>
            <p>
            <center>Victor Mariano Cuba Larrain </center>
            <center>victorm.cubal17@gmail.com</center>
            </p>
        </div>
    </div>
</section>



{% endblock %}