{% extends 'PaginaAutos/index.html'%}

{% block contenido %}
<head>
</head>
{% load static %}
<section class="menu section-padding">
    <center><h2 class="text-black mb-lg-5 mb-3">Bienvenido a Chat Global</h2></center>
    <div id="wrapper">
      <div id="menu">
        <p><a style="position:absolute; bottom:50px; right:50px;"href="{% url 'autos-inicio' %}" class="custom-btn btn btn-danger">Salir del Chat</a></p>
    </div>
    </div>
    <ul>
        <form method="post">
            {% csrf_token %}
            <div>
                <center class="btn-custom btn btn-danger text-white" style="height: 46px;">{{ form.non_field_errors }}
                    <div class="fieldWrapper">
                      {{ form.errors }}
                      {{ form.label_tag }}
                      {{ form }}
                      <span class="helptext">{{ form.help_text }}</span>
                    </div></center>
            </div>
            <br>
            <input type="submit" value="Enviar" class="btn-success">
            <a class="nav-link" href="{% url 'chat-list' %}">Ver mensajes de usuarios</a>
        </form>
        
    </ul>


</section>


{% endblock %}
