{% extends 'PaginaAutos/index.html'%}

{% block contenido %}
{% load static %}
<section class="menu section-padding">
    <center><h2 class="text-balck mb-lg-5 mb-3">Sobre Nosotros</h2></center> 
    <center>Un grupo de programadores que en la busqueda de su proyecto final crearon este sitio, para entuciastas de los autos, con busqueda de distintas marcas y chat entre usuarios. 
        <br>
        <br><h6>Juan Cruz Gonzalez</h6> 
        <br>
        <br> <h6>Felipe Da Rosa</h6> Ingeniero agronomo de profesion permanentenemente conectando los dos mundos, el agro con la programacion en Python. Siempre buscando desafios.
        <br>
        <br> <h6>Victor Cuba Larrain</h6> 
    </center>
</section>


{% endblock %}